<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>慕课书评网</title>
        <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport">
        <!-- 引入样式文件 -->
        <link
                href="/assets/vant/index.css"
                rel="stylesheet"
        />

        <!-- 引入 Vue 和 Vant 的 JS 文件 -->
        <script src="/assets/vue/vue.global.js"></script>
        <script src="/assets/vant/vant.min.js"></script>
        <script src="/assets/axios/axios.js"></script>
        <style>
            .description {
                padding: 5px;
            }

            .description p {
                text-indent: 2em;
                line-height: 30px;
            }

            .description img {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <!--导航栏 -->
            <van-nav-bar @click-right="clickRight">
                <template #left>
                    <a href="/index.html" style="padding-top: 10px">
                        <img src="https://m.imooc.com/static/wap/static/common/img/logo2.png" style="width: 80px">
                    </a>
                </template>
                <template #right>
                    <template v-if="state.isLogin">
                        <img src="/images/user_icon.png" style="height:30px">{{state.member.nickname}}
                    </template>
                    <template v-if="!state.isLogin">
                        <img src="/images/user_icon.png" style="height: 30px">
                        登录
                    </template>

                </template>
            </van-nav-bar>

            <van-row style="padding: 10px;color:white;font-size: 80%;background: rgb(127, 125, 121)">
                <van-col span="8" style="float: left;width: 110px;height: 160px">
                    <img :src="book.cover"
                         style="width: 110px;height: 160px">
                </van-col>
                <van-col span="16" style="float: left;height: 160px;width:auto">
                    <div style="font-size: 16px;font-weight: bold">{{book.bookName}}</div>
                    <div style="margin-top:5px;background: #92B8B1;padding: 5px">{{book.author}}</div>
                    <div style="font-size: 16px;margin-top:5px;">{{book.subTitle}}</div>
                    <div style="padding:10px">
                        <template v-if="state.readState == -1">
                            <van-button @click="updateReadState(1)" icon="like-o" size="small" style="margin-right: 10px"
                                        type="default">想看
                            </van-button>
                            <van-button @click="updateReadState(2)" icon="passed" size="small" type="default">看过
                            </van-button>
                        </template>
                        <template v-if="state.readState == 1">
                            <van-button @click="updateReadState(1)" icon="like" size="small" style="margin-right: 10px"
                                        type="success">想看
                            </van-button>
                            <van-button @click="updateReadState(2)" icon="passed" size="small" type="default">看过
                            </van-button>
                        </template>

                        <template v-if="state.readState == 2">
                            <van-button @click="updateReadState(1)" icon="like-o" size="small" style="margin-right: 10px"
                                        type="default">想看
                            </van-button>
                            <van-button @click="updateReadState(2)" icon="checked" size="small" type="success">看过
                            </van-button>
                        </template>
                    </div>
                </van-col>
                <van-col span="24" style="background-color: rgba(0,0,0,0.1);padding: 10px;margin-top: 10px">
                    <span style="line-height: 20px;margin-right: 10px">{{book.evaluationScore}}分 {{book.evaluationQuantity}}人已评</span>
                    <van-rate allow-half color="#ffd21e" readonly v-model="book.evaluationScore"
                              void-icon="star"></van-rate>
                </van-col>
            </van-row>
            <div class="description" v-html="book.description"></div>
            <van-nav-bar style="background: lightblue">
                <template #left>
                    短评
                </template>
                <template #right>
                    <van-button @click="showDialog()" size="small" style="width:60px" type="success">评价</van-button>
                </template>
            </van-nav-bar>
<!--            <template v-for="evaluation,index in evaluationList">-->
<!--                <div style="border-bottom: 1px solid #cccccc">-->
<!--                    <div style="padding: 10px;">-->
<!--&lt;!&ndash;                        <span style="margin-right: 20px">{{evaluation.strCreateTime}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span style="margin-right: 20px">{{evaluation.member.nickname}}</span>&ndash;&gt;-->
<!--                        <span style="margin-right: 20px">{{evaluation.ct}}</span>-->
<!--                        <span style="margin-right: 20px">{{evaluation.nickname}}</span>-->
<!--                        <van-rate allow-half color="#ffd21e" readonly v-model="evaluation.score"-->
<!--                                  void-icon="star"></van-rate>-->
<!--                        <van-button @click="enjoy(index)" icon="like-o" size="small" style="width:40px;float:right"-->
<!--                                    type="success">{{evaluation.enjoy}}-->
<!--                        </van-button>-->
<!--                    </div>-->
<!--                    <div style="padding: 10px;">-->
<!--                        {{evaluation.content}}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </template>-->
            <!--短评列表,通过迭代EvaluationList实现-->
            <template v-for="evaluation,index in evaluationList">
                <div style="border-bottom: 1px solid #cccccc">
                    <div style="padding: 10px;">
                        <!-- 短评创建时间 -->
                        <span style="margin-right: 20px">{{evaluation.ct}}</span>
                        <!-- 用户昵称 -->
                        <span style="margin-right: 20px">{{evaluation.nickname}}</span>
                        <!-- 星型分数 -->
                        <van-rate v-model="evaluation.score" color="#ffd21e" void-icon="star" readonly allow-half></van-rate>
                        <van-button icon="like-o" @click="enjoy(index)" type="success" size="small" style="width:40px;float:right" >{{evaluation.enjoy}}</van-button>
                    </div>
                    <!-- 评论内容 -->
                    <div style="padding: 10px;">
                        {{evaluation.content}}
                    </div>
                </div>
            </template>


            <div style="margin-bottom: 50px">
            </div>

            <van-action-sheet :title="book.bookName" v-model:show="state.dialogVisible">
                <van-form ref="evaluationForm">
                    <van-cell-group inset>
                        <van-rate color="#ffd21e" style="padding: 16px" v-model="form.score"
                                  void-icon="star"></van-rate>
                        <van-field
                                :rules="[{ required: true, message: '请输入评论内容' }]"
                                autocomplete="off"
                                name="content"
                                placeholder="这里输入评论内容"
                                v-model="form.content"
                        />
                    </van-cell-group>
                    <div style="margin: 16px;margin-bottom: 50px">
                        <van-button @click="onSubmit('evaluationForm')" block round type="primary">
                            提交短评
                        </van-button>
                    </div>
                </van-form>
            </van-action-sheet>

        </div>
        <script>
            //日期格式化函数
            function formatDate(time) {
                var newDate = new Date(time);
                return (newDate.getMonth() + 1) + "-" + newDate.getDate();
            }

            //获取查询字符串函数
            function getQueryString(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            }

            //提示"需要登录"对话框
            function warnLogin(text) {
                vant.Dialog.confirm({
                    title: text,
                    confirmButtonText: "去登录",
                    cancelButtonText: "关闭"
                })
                    .then(() => {
                        window.location.href = "/login.html";
                    })
            }

            const main = {
                data() {
                    return {
                        state: { //页面状态
                            isLogin: false, //是否登录
                            member: {}, //当前登录会员数据
                            readState: -1, //当前会员阅读状态 -1:无数据 1:想看 2:看过
                            dialogVisible: false //短评对话框是否显示
                        },
                        book: {},
                        evaluationList: [], //短评列表
                        form: { //短评表单数据
                            score: 5,
                            content: ""
                        }
                    }
                }
                , methods: {
                    //显示短评对话框
                    showDialog: function () {
                        const objApp = this;
                        if (!objApp.state.isLogin) {
                            warnLogin("登录后才能进行评论哦");
                            return;
                        }
                        this.state.dialogVisible = true;
                    }
                    , clickRight: function () {
                        //点击"登录"按钮跳转到登录页
                        if (!this.state.isLogin) {
                            window.location.href = "/login.html";
                        }
                    }
                    , updateReadState: function (readState) {
                        //更新阅读状态
                    }
                    , onSubmit: function (formName) {
                        //提交短评功能
                    }
                    , enjoy: function (index) {
                        //点赞功能
                    }
                }
                , mounted() {
                    //初始化后数据操作
                    const bookId = getQueryString("bid");
                    const objApp = this;
                    const uri = "/api/book/id/" + bookId;
                    axios.get(uri).then(function (response) {
                        const json = response.data;
                        if (json.code == "0") {
                            objApp.book = json.data.book;
                        } else {
                            console.error(json);
                        }
                    });

                    const evaluationUri="/api/evaluation/list?bookId="+bookId;
                    axios.get(evaluationUri).then(function (response) {
                        const json = response.data;
                        if (json.code == "0") {
                            json.data.list.forEach(function (item){
                                item.ct = formatDate(item.create_time);
                                objApp.evaluationList.push(item);
                            })
                        } else {
                            console.error(json);
                        }
                    });

                    const mid=sessionStorage.mid;
                    if(mid!=null){
                        axios.get("/api/member/select_by_id?memberId="+mid)
                            .then(function(response){
                                const json = response.data;
                                    if(json.code == "0"){
                                        objApp.state.isLogin = true;
                                        objApp.state.member = json.data.member;
                                    }else{
                                        console.error(json);
                                    }
                            })
                        //只有在用户登录的状态下才需要去查询阅读状态
                        axios.get("api/member/select_read_state?memberId="+mid
                            +"&bookId="+bookId)
                            .then(function (response) {
                                const json=response.data;
                                console.info(response);
                                if(json.code == "0") {
                                    console.info(json);
                                    if (json.data.readState != null) {
                                        objApp.state.readState = json.data.readState.readState;
                                        console.info(objApp.state.readState);
                                    } else {
                                        objApp.state.readState = -1;
                                        console.info(objApp.state.readState);
                                    }
                                }else{
                                    console.error(json);
                                }
                            })
                    }
                }
            };
            const app = Vue.createApp(main);
            app.use(vant);
            app.use(vant.Lazyload);
            app.mount("#app");
        </script>
    </body>
</html>